<ul class="nav justify-content-end">

  <li class="nav-item">
    <a class="nav-link" href="/perfil">Regresar</a>
  </li>
</ul>

<h2>{{userInSession.username}}, edita tu perfil</h2>

</br>
<div class="mb-3">

  <form action="/perfil/editar" method="POST" enctype="multipart/form-data">
    <label type="file" for="formFile" class="form-label">Sube una nueva foto para tu perfil:</label>
    <input name="fotoPerfil" class="form-control" type="file" id="formFile">
    </br>
    <button class="btn btn-secondary">Guardar cambios</button>

  </form>
</div>

