<h1>Iniciar sesión</h1>


<form action="/ingresar" method="POST">
        
        <label for="input-email">Correo electrónico: </label>
        <input type="email" name="email" placeholder="tu correo"/></br>

        <label for="input-password">Contraseña: </label>
        <input type="password" name="password" id="input-password" placeholder="***"/></br>

        <button type="submit">Iniciar sesión</button>

    </form>

<p>¿No eres usuario aún? Regístrate <a href="/registro">aquí</a></p>
