


<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/perfil">Refrescar la página</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/perfil/editar">Editar perfil</a>
  </li>
</ul>

{{#if userInSession}}
<img src={{userInSession.profilePictureUrl}} width="70">
<h2>{{userInSession.username}}, este es tu perfil</h2>

</br>

<div class="container">

<div class="row align-items-center">
    <div class="col">
      <p>¿Cómo va tu ciclo</p>
</br>
        <form id="logout-form" action="/logout" method="POST">
            <button  class="btn btn-secondary">Crear Presupuesto</button>
        </form>

    </div>
    <div class="col">
      <p>Controla tu dinero</p>
    </div>
    <div class="col">
        <p>Planea tu futuro</p>    
    </div>
  </div>





  {{else}}
  {{!-- <p>Inicia sesión <a href="/">aquí</a></p> --}}
{{/if}}