
<ul class="nav justify-content-end">

  <li class="nav-item">
    <a class="nav-link" href="/perfil">Regresar</a>
  </li>
</ul>


{{#if userInSession}}
</br>
<h2>{{userInSession.username}}, estas son tus partidas presupuestales</h2>
{{/if}}

</br>
{{#each budgetFound}}

<p>Partida: {{this.budgetConcept}}</p>
<p>Presupuesto: $ {{this.budgetAmount}}</p>
<hr>

{{/each}}

