<h1 class="display-6">{{userInSession.username}}, este es tu presupuesto</h1>

</br>
{{#each budgetFound}}

<p>Partida: {{this.budgetConcept}}</p>
<p>Presupuesto: $ {{this.budgetAmount}}</p>
<hr>

{{/each}}

