<div class="container">
<img width="250"src="https://res.cloudinary.com/robtc/image/upload/v1613725503/di%CC%81a_cero_ev8jet.gif" class="rounded d-block mx-auto" alt="...">
</div>
<div class="container">

    <figure class="text-center">
  <blockquote class="blockquote">
    <p>Regístrate</p>
  </blockquote>
  
</figure>

<div class="d-grid gap-2 col-6 mx-auto">
<p>¿Ya tienes cuenta? Inicia sesión <a href="/">aquí</a></p>
</div>

</br>
<form action="/registro" method="POST">
        
          <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">ID</span>
        <input type="username" name="username" class="form-control" placeholder="tu usuario" aria-label="email" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input type="email" name="email" class="form-control" placeholder="tu correo" aria-label="Username" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">***</span>
            <input type="password" name="password" class="form-control" placeholder="tu contraseña" aria-label="Username" aria-describedby="basic-addon1">
        </div>
<div class="d-grid gap-2 col-6 mx-auto">
        <button type="submit" class="btn btn-primary">Regístrate</button>
</div>
    </form>

</br>
     {{#if errorMessage}}
    <div class="alert alert-warning" role="alert">
    {{errorMessage}}
    </div>
    {{/if}}


