<h1>Regístrate</h1>
<p>¿Ya tienes cuenta? Inicia sesión <a href="/">aquí</a></p>

</br>
<form action="/registro" method="POST">
        
        <label for="input-username">Usuario: </label>
        <input type="username" name="username" placeholder="tu usuario"/></br>

        <label for="input-email">Correo electrónico: </label>
        <input type="email" name="email" placeholder="tu correo"/></br>

        <label for="input-password">Contraseña: </label>
        <input type="password" name="password" id="input-password" placeholder="***"/></br>

        <button type="submit">Crear cuenta</button>

    </form>


     {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
  {{/if}}


