<div class="container">
<img width="250"src="https://res.cloudinary.com/robtc/image/upload/v1613725503/di%CC%81a_cero_ev8jet.gif" class="rounded d-block mx-auto" alt="...">
</div>
<div class="container">

    <figure class="text-center">
  <blockquote class="blockquote">
    <p>Tu registro ha sido creado con éxito</p>
<p>Inicia sesión por primera vez <a href="/">aquí</a></p>

  </blockquote>
  
</figure>


